* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Solomon Sans Normal';
  src : url("../fonts/Solomon Sans Normal.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Solomon Sans Light';
  src : url("../fonts/Solomon Sans Light.otf");
  font-style: normal;
  font-weight: lighter;
}
@font-face {
  font-family: 'Solomon Sans Book';
  src : url("../fonts/Solomon Sans Book.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Solomon Sans Bold';
  src : url("../fonts/Solomon Sans Bold.otf");
  font-style: normal;
  font-weight: bold;
}
body {
  font-family: 'Solomon Sans Book' sans-serif;
}
.main {
  max-width: 1366px;
  margin: 0 auto;
}
.header {
  padding: 15px 30px;
  background: url('../images/background.png') no-repeat;
  background-size: cover;
}
.header-bar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666;
  font-weight: 200;
  font-size: 15px;
}
.header-bar__top-left {
  display: flex;
}
.header-bar__top-right {
  display: flex;
}
.nav {
  display: flex;
  list-style: none;
  align-items: center;;
  text-transform: uppercase;
  padding-right: 25px;
  font-family: Solomon Sans Normal;
}
.nav__link {
  color: #666;
  padding: 50px 25px;
  text-decoration: none;
}
.nav__link:hover, .nav__link_active {
  color: #3283c0;
}
.language {
  padding: 15px 25px 20px 50px;
  border-left: 1px solid #666;
}
.header-bar__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Solomon Sans Light';
}
.header-bar__bottom-title {
  padding-top: 80px;
  letter-spacing: -2px;
  color: #333;
  font-size: 80px;
  font-weight: lighter;
  line-height: 72px;
  text-transform: uppercase;
}
.header-bar__bottom-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3283c0;
  text-decoration: none;
  margin-top: 25px;
  margin-bottom: 80px;
  border: 2px solid #3283c0;
}
.header-bar__bottom-img {
  border-right: 2px solid #3283c0;
  padding: 15px 15px;
}
.header-bar__bottom-text {
  padding: 20px 25px;
  text-transform: uppercase;
}
.content__menu-wrapper {
  display: flex;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}
.content__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__menu-item {
  display: flex;
  position: relative;
  font-family: Solomon Sans Book;
  letter-spacing: -1.6px;
}
.content__menu-item:first-child:after {
  position: absolute;
  right: -35px;
  top: 25px;
  content: "";
  background: #DCDCDC;
  width: 1px;
  height: 20px;
}
.content__menu-item:last-child {
  padding-left: 70px;
}
.content__menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3283c0;
  text-transform: uppercase;
  font-size: 20px;
  padding: 25px 0 20px;
}
.content__menu-link:active, .content__menu-link_active {
  border-bottom: 3px solid black;
  color: black;
  padding: 25px 0 17px;
}
.content__description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 260px;
  border-bottom: 1px solid #DCDCDC;
    padding: 100px 0 100px 110px;
}
.headers {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: -1.6px;
  font-family: Solomon Sans Book;
  color: #333;
}
.title {
  font-size: 30px;
  font-family: Solomon Sans Book;
  letter-spacing: -1.6px;
}
.second-title {
  text-transform: uppercase;
  font-family: Solomon Sans Book;
  font-size: 27px;
  font-weight: normal;
}
.specification {
  display: flex;
  align-items:center;
  font-family: Roboto;
  color: #818c95;
  font-size: 18px;
}
.specification:before {
  content: "";
  margin: 65px;
  background: #DCDCDC;
  width: 1px;
  height: 80px;
}
.content__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 800px;
}
.content__body-theme {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  height: 400px;
  padding-top: 150px;
}
.body-title {
  font-family: Roboto;
  color: #818c95;
  font-size: 18px;
  text-align: center;
  padding: 50px;;
}
.body-title:before {
  content: "";
  position: absolute;
  margin: -30px 100px;
  background: #DCDCDC;
  width: 80px;
  height: 1px;
}
.content__body-img {
  display: flex;
  width: 33.33%;
  height: 400px;
}
.aircraft {
  background: url('../images/aircraft.png') no-repeat;
  background-size:cover;
}
.content__body-service {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 400px;
  background-color: #F1F5F7;
  text-transform: uppercase;
  font-family: Solomon Sans Book;
  font-size: 27px;
  font-weight: normal;
  color: #333;
}
.content__body-service:after {
  content: "";
  position: absolute;
  right: 42%;
  top: 270px;
  background: #DCDCDC;
  width: 90px;
  height: 1px;
}
.skyservice {
  background-image: url('../images/skyservice-book.png');
  background-color: white;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.content__body-trade {
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 80px;
  width: 33.33%;
  height: 400px;
  background-color: #91c2e6;
  background-image: url('../images/perfume.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  color: white;
  text-transform: uppercase;
  font-family: Solomon Sans Book;
  font-size: 27px;
  font-weight: normal;
}
.content__body-trade:after {
  content: "";
  position: absolute;
  right: 40%;
  top: 130px;
  background: white;
  width: 90px;
  height: 1px;
}
.content__participants {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 260px;
  border-bottom: 1px solid #DCDCDC;
  padding: 120px 0 120px 310px;
}
.content__sponsors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DCDCDC;
}
.content__sponsors-item {
  display: flex;
  flex-direction: row;
  height: 250px;
  width: 25%;
  border-right: 1px solid #DCDCDC;
}
.austrian {
  background: url('../images/austrian-black.png');
  background-repeat: no-repeat;
  background-position: center;
}
.austrian:hover {
  background: url('../images/austrian-color.png');
  background-repeat: no-repeat;
  background-position: center;
}
.lot {
  background: url('../images/lot-black.png');
  background-repeat: no-repeat;
  background-position: center;
}
.lot:hover {
  background: url('../images/lot-color.png');
  background-repeat: no-repeat;
  background-position: center;
}
.tap {
  background: url('../images/tap-black.png');
  background-repeat: no-repeat;
  background-position: center;
}
.tap:hover {
  background: url('../images/tap-color.png');
  background-repeat: no-repeat;
  background-position: center;
}
.swiss {
  background: url('../images/swiss-black.png');
  background-repeat: no-repeat;
  background-position: center;
}
.swiss:hover {
  background: url('../images/swiss-color.png');
  background-repeat: no-repeat;
  background-position: center;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.footer__copyright {
  font-family: Roboto;
  color: #bcbcbc;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 70px;
  padding-left: 30px;
}
.footer__icons {
  display: flex;
}
.apple-store {
  width: 145px;
  height: 70px;
  background-image: url('../images/apple-store.png');
  background-position: center;
  background-repeat: no-repeat;
}
.apple-store:hover {
  width: 145px;
  height: 70px;
  background-image: url('../images/apple-store-color.png');
  background-position: center;
  background-repeat: no-repeat;
}
.google-store {
  margin-right: 12.5px;
  width: 145px;
  height: 70px;
  background-image: url('../images/google-store.png');
  background-position: center;
  background-repeat: no-repeat;
}
.google-store:hover {
  width: 145px;
  height: 70px;
  background-image: url('../images/google-store-color.png');
  background-position: center;
  background-repeat: no-repeat;
}
.footer__icons-item {
  border-left: 1px solid #DCDCDC;
  filter: grayscale(100%);
  opacity: .3;
}
.youtube {
  width: 70px;
  height: 70px;
  background-image: url('../images/youtube.png');
  background-position: center;
  background-repeat: no-repeat;
}
.youtube:hover {
  filter: none;
  opacity: 1;
}
.insta {
  width: 70px;
  height: 70px;
  background-image: url('../images/insta.png');
  background-position: center;
  background-repeat: no-repeat;
}
.insta:hover {
  filter: none;
  opacity: 1;
}
.vk {
  width: 70px;
  height: 70px;
  background-image: url('../images/vk.png');
  background-position: center;
  background-repeat: no-repeat;
}
.vk:hover {
  filter: none;
  opacity: 1;
}
.fb {
  width: 70px;
  height: 70px;
  background-image: url('../images/fb.png');
  background-position: center;
  background-repeat: no-repeat;
}
.fb:hover {
  filter: none;
  opacity: 1;
}
.tw {
  width: 70px;
  height: 70px;
  background-image: url('../images/tw.png');
  background-position: center;
  background-repeat: no-repeat;
}
.tw:hover {
  filter: none;
  opacity: 1;
}
